<div style="height: 100%;" class="mt-4">
    <h1 class="d-flex justify-content-center fw-bolder">Escolha seu Curso de Graduação Presencial</h1>
    <hr>
    <div>
        <% if (msg) { %>
            <div class="alert alert-<%= msgType %>" role="alert">
                <%= msg %>
            </div>
            <% } %>
    </div>
    <div class="mt-4">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Lista de Cursos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Duração</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cursos.length> 0) { %>
                                <% for (let i=0; i < cursos.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= cursos[i].nome %>
                                        </td>
                                        <td>
                                            <%= cursos[i].duracao %>
                                        </td>
                                        <td>R$ <%= cursos[i].valor %>
                                        </td>
                                        <td>
                                            <a href="/matricula/<%= cursos[i].id %>"
                                                class="btn btn-success">Matricular-se</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="4" class="text-center">Nenhum curso cadastrado</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>